.Phonetic {
  margin: 20px 0;
}

.Phonetic a {
  border: 1px solid rgb(20, 179, 211);
  text-decoration: none;
  padding: 8px 15px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: bold;
  border-radius: 20px;
}

.Phonetic a:hover {
  background: #200b56;
  color: rgb(255, 255, 255);
}

.Phonetic .text {
  opacity: 0.5;
  font-weight: bold;
}